@model IEnumerable<MusicStore.Models.Genre>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-0 bg-dark"> 
        <div class="hero-section img-fluid text-center">
            <h1 class="text-white fw-bold">Music for <span class="text-danger">pro video</span> & <span class="text-danger"> film</span></h1>
            <p class="text-white">ELevate your creativity and inspire your audience with our curated catalog from the world's top production artists.</p>
            
            <div class="btn-group-lg ">
                <a class="btn btn-outline-light">View Pricing</a>
                <a class="btn btn-outline-dark text-white">Browse Catelog</a>
            </div>

            <div class="brand-strip container img-fluid" style="padding-top: 20vh;">
                <img src="https://cdn.musicvine.com/images/brand-logos.svg" alt="Brands List" />
            </div>
        </div>

        <div class="container d-none d-lg-block playlist-section">
            <div class="row my-5">
                <div class="col-md-4">
                    <h2 class="text-white fw-bold text-start ">Perfect playlists for modern productions</h2>
                    <ul class="ps-5 pt-5 playlist-categories">
                        <li><a href="#"  class="text-white fs-4 fw-bold nav-item nav-link mb-3">Creative</a></li>
                        <li><a href="#" class="text-white fs-4 fw-bold nav-item nav-link mb-3">Playful</a></li>
                        <li><a href="#" class="text-white fs-4 fw-bold nav-item nav-link mb-3">Workout</a></li
                    </ul>
                </div>
                <div class="col-md-8 bg-black dynamic-playlist-column">
                    @*Here dynamically we are going to show our playlists*@
                        @*<h2 class="text-white">Title: @Model.Album.Title</h2>*@
                        @foreach (var item in Model)
                        {

                            <h3>Genre: @item.Name</h3>
                        }
                        
                </div>
            </div>
        </div>

        <div class="container" style="height: 60vh;">
            <div class="row h-100%">
                <div class="col col-md-6 my-5">
                    <h2 class="text-white fw-bold text-start">Home to the world's top production music creators</h2>
                    <p class="text-white text-start pt-3">Experience a higher calibre of music with 6,000+ tracks from the world's leading composers, songwriters and beatmakers.</p>
                </div>
                <div class="col col-md-6 bg-black h-100%">
                    @*Her all artists images will be shown dynamically*@
                </div>
            </div>
        </div>

        <div class="container" style="height: 60vh;">
            <div class="row h-100%">
                <div class="col col-md-6 my-5 order-2">
                    <div class="container">
                        <h2 class="text-white fw-bold text-start">An interface tailored for professionals</h2>
                        <p class="text-white text-start pt-3">Finding the perfect track has never been easier with Music Vine’s industry-leading search tools and thematic playlists.</p>
                    </div>
                </div>
                <div class="col col-md-6 bg-black h-100% order-1">
                    @*Her all artists images will be shown dynamically*@
                </div>
            </div>
        </div>

        <div class="container" style="height: 60vh;">
            <div class="row h-100%">
                <div class="col col-md-6 my-5">
                    <div class="container">
                        <h2 class="text-white fw-bold text-start">A catalog at the cutting edge</h2>
                        <p class="text-white text-start pt-3">We work closely with our artists to craft tracks that are at the forefront of trends in film and media.</p>
                    </div>
                </div>
                <div class="col col-md-6 bg-black h-100%">
                    @*Her all artists images will be shown dynamically*@
                </div>
            </div>
        </div>

        <div class="img-fluid text-center testimonial-section">
            <h2 class="text-black fw-bold py-3 px-4">Filmakers & brands worldwide choose Music Valley <br /> Here's Why </h2>
            <div class="container"> @*Make it dyanamic as well*@
                <div class="row mt-3">
                    <div class="col-md-4">
                        <h2>Name</h2>
                        <p>Description</p>
                        <p><a href="#" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Name</h2>
                        <p>Description</p>
                        <p><a href="#" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Name</h2>
                        <p>Description</p>
                        <p><a href="#" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
</div>